@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body{
    font-family: 'Shadows Into Light', cursive;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: x-large;
    color: #ffffff;
    font-weight: bold;
    font-size: 3.5vh;
}
button{
    border-radius: 10%;
    background-color: brown;
    border: solid;
    cursor: pointer;
    padding: 1%;
    opacity: .8;
    font-size: large;
}
button:hover{
    opacity: 1;
}
ul{
    background-color: cornsilk;
    opacity: .92;
    border-radius: 2%;
    width: 50vw;
    margin-left: 10vw;
    height: 70vh;
    overflow-y: scroll;
}
li{
    background-color: black;
    display: block;
    width: 40vw;
    margin-bottom: 1vh;
    padding: 1vh;
    border-radius: 4%;
    opacity: .85;
    animation-duration: 3s;
    animation-name: show;
}
li:hover{
    opacity: .92;
}
@keyframes show{
    from{
        opacity: 0;
    }
    to{
        opacity: .88;
    }
}
h1{
    margin-top: 10vh;
    font-size: 3.5em;
    margin-left: 25vw;
}
input{
    background: none;
    border: none;
}
.exchangeRate{
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 10vh;
    z-index: 20;
}
.exchangeRate input{
    width: 8vw;
    height: 8vh;
    border-radius: 5%;
    background-color: darkgray;
    text-align: center;
    opacity: .7;
    font-size: 3vh;
}
.exchangeRate input:hover{
    opacity: .92;
}
.newTransaction{
    margin-left: 25vw;
}
.total{
    margin-left: 25vw;
}
.transactionName{
    width: 30vw;
    text-align: center;
    border-bottom: solid;
    background: none;
    font-size: xx-large;
    color: goldenrod;
    margin-right: 3vw;
}
.transactionAmount{
    width: 8vw;
    text-align: center;
    border-bottom: solid;
    background: none;
    font-size: xx-large;
    color: green;
    margin-right: 3vw;
}
.main{
    display: flex;
}
.max{
    margin-top: 20%;
    margin-left: 5vw;
    background-color: dimgrey;
    border-radius: 15%;
    opacity: .9;
    z-index: 10;
}
.currency{
    color: darkred;
    margin-left: 65%;
}
.transactionName:hover{
    transform: scale(1.12);
}
.transactionAmount:hover{
    transform: scale(1.12);
}
.newTransaction p{
    margin-left: 25%;
}
.getRate{
    padding: 2%;
    background-color: indigo;
    border-radius: 18%;
    color: khaki;
    font-size: x-large;
}
ul::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
ul::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
ul::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 11px none #ffffff;
  border-radius: 50px;
}
ul::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
ul::-webkit-scrollbar-thumb:active {
  background: #000000;
}
ul::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 16px;
}
ul::-webkit-scrollbar-track:hover {
  background: #666666;
}
ul::-webkit-scrollbar-track:active {
  background: #333333;
}
ul::-webkit-scrollbar-corner {
  background: transparent;
}